<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".CaafisomApp"
        android:allowBackup="true"
        android:exported="true"


        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaafisomUser"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".CropImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VideoConsultationDocterActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".Activity.VideoConsultationActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".videomeeting.Common.Actvity.CreateOrJoinActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".videomeeting.GroupCall.Activity.GroupCallActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".videomeeting.OneToOneCall.OneToOneCallActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".CallActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".NotificationViewImage"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ViewMedicalRecordsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".MedicalRecordsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ScansListActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".DiagnosticsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".CategoriesListActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".BookanambulanceActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ViewreceiptActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" /> <!-- Send action required to display activity in share list -->

                <category android:name="android.intent.category.DEFAULT" /> <!-- Make activity default to launch -->
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentFailureActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".PaymentsucessActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity android:name=".NotificationsActivity" />
        <activity
            android:name=".BookanAppotimentActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".DoctorsListActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".HospitalReviewActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".WriteReview"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".HospitalsListActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".RegionActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".LanguageActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".UpdateProfile"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            />
        <activity
            android:name=".AppointmentsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ContactusActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".AboutusActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".DashBoardActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" >

            <!--
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <activity
            android:name=".Activity.NewVerifyOtpActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />

        <activity
            android:name=".Activity.UserLocationScreenActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".IntroThirdActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".IntroSecondActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".IntroFirstActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />

        <service
            android:name=".fcm.MyFireBaseMessagingService"
            android:exported="false"
            android:permission=""
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="notificationTitle"
            android:value="@string/notificationTitle" />
        <meta-data
            android:name="notificationContent"
            android:value="@string/notificationContent" />
        <meta-data
            android:name="notificationIcon"
            android:resource="@mipmap/ic_launcher_round" />
    </application>

</manifest>